/*css for patient,patientsignup,patientDashBoard,appointments*/

.container {
    background-color: #f2f2f2;
    padding: 40px;
    margin: 130px auto 20px auto;
    border-radius: 10px;
    width: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-left: 600px;
    margin-bottom: 150px;
    
}


.breadcrumb {
    margin-bottom: 20px;
}

.breadcrumb a {
    color: #4CAF50;
    text-decoration: none;
    margin-right: 5px;
}

.breadcrumb a::after {
    content: '>';
    margin-left: 5px;
}

.breadcrumb a:last-child::after {
    content: '';
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.submit-btn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
}

.submit-btn:hover {
    background-color: #45a049;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 500px;
}

.dataa {
    margin-bottom: 500px;
}

/*css for appointments*/
.appointments-table {
    background-color: #f7f9fc;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.appointments-table h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.appointments-table table {
    width: 100%;
    border-collapse: collapse;
}

.appointments-table th, .appointments-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.appointments-table th {
    background-color: #007bff;
    color: white;
}

.appointments-table tr:hover {
    background-color: #f1f1f1;
}
